<div class="page">

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Bienvenue</strong></div>
        <div class="panel-body">
            <div class="callout callout-info">
                <h4>Qu’est ce que Project Igniter ?</h4>
                <p>Project Igniter (Allumeur de projet) est un outil que nous avons créé dans le cadre du développement d’un nouveau site web. Ce petit outil va nous permettre de vous présenter ce projet en détail et de façon ludique. Il va aussi nous permettre de vous faire participer à sa construction.</p>
                <p>Vous faites partie de nos amis ou proches connaissances. Votre avis, votre point du vue et vos conseils sont donc très importants à nos yeux.</p>
            </div>




        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Activité des participants</strong></div>
    </div>

    <div data-ng-include="'app/views/pages/home/timeline.html'">
    </div>
</div>