<div class="page page-home">

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Home</strong></div>
        <div class="panel-body">
            <div class="callout callout-info">
                <h4>Project Igniter ?</h4>
                <p>Project Igniter (Allumeur de projet) est un outil que nous avons créé dans le cadre du développement d’un nouveau site web. Ce petit outil va nous permettre de vous présenter ce projet en détail et de façon ludique. Il va aussi nous permettre de vous faire participer à sa construction.</p>
                <p>Vous faites partie de nos amis ou proches connaissances. Votre avis, votre point du vue et vos conseils sont donc très importants à nos yeux.</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="icon-box icon-box-vertical" data-ng-click="goTo('app.concept')">
                        <div class="icon-container">
                            <span class="">1</span>
                        </div>
                        <div class="desc-container">
                            <h4>Lisez le concept</h4>
                            <div class="desc">Commencez par lire la rubrique concept. Nous vous expliquons le concept, le fil d'arianne qui va guider vos choix lors des votes.</div>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="icon-box icon-box-vertical" data-ng-click="goTo('app.votes')">
                        <div class="icon-container">
                            <span>2</span>
                        </div>
                        <div class="desc-container">
                            <h4>Votez</h4>
                            <div class="desc">Donnez votre avis et prennez part à la construction du projet.</div>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="icon-box icon-box-vertical" data-ng-click="goTo('app.votes')">
                        <div class="icon-container">
                            <span>3</span>
                        </div>
                        <div class="desc-container">
                            <h4>Résultat et suivi</h4>
                            <div class="desc">Suivez l'évolution des votes et la mise en application des choix et avis que vous avez soumis.</div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Flux d'activité</strong></div>
        <div class="panel-body" data-ng-include="'views/pages/home/_timeline.html'"></div>
    </div>
</div>
