<div class="page page-votes">
    <ol class="breadcrumb">
        <li><a ui-sref="app.votes">Votes</a></li>
        <li class="active"> {{vote.title}}</li>
    </ol>

    <div class="panel vote-header">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="vote-info">
                        <p class="size-h2 vote-title"><i class="fa fa-{{vote.icon}}"></i> {{vote.title}}</p>
                        <p class="vote-description text-muted">{{vote.description}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-info" data-ng-if="shouldShowTimer(vote)"><i class="fa fa-clock-o fa-3x pull-left"></i>Se termine dans :
                        <timer class="timer-wrapper" end-time="vote.dateEnd">{{ddays}} jours, {{hhours}} heures, {{mminutes}} minutes et {{sseconds}} secondes.</timer>
                        <p><label class="ui-checkbox"><input type="checkbox"  data-ng-model="userConfig.emailOnVoteEnd" data-ng-click="optinFeedback()"><span>Recevoir le résultat final par email</span></label>.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <ul class="nav nav-boxed nav-justified vote-menu">
        <li data-ui-sref-active="active"><a data-ui-sref="app.vote.default"><i class="fa fa-list-ol"></i> Résultats</a></li>
        <li data-ng-if="userVote.isEmpty()" data-ui-sref-active="active"><a data-ui-sref="app.vote.edit"><i class="fa fa-heart-o"></i> Voter</a></li>
        <li data-ng-if="!userVote.isEmpty()" data-ui-sref-active="active"><a data-ui-sref="app.vote.edit"><i class="fa fa-heart"></i> Mon vote</a></li>
        <li data-ui-sref-active="active"><a data-ui-sref="app.vote.improve"><i class="fa fa-pencil-square"></i> Améliorer ce vote</a></li>
    </ul>

    <section data-ui-view class="animate-fade-right"></section>

</div>
