<div class="page-header clearfix">
    <h3>Votez
        <small>Sélectionnez {{maxFavorites}} noms qui vous inspirent</small>
    </h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-{{favorites.length ? '8' : '12'}}">

            <div class="name-list list-group">
                <a href="#" class="list-group-item clearfix animate-repeat" ng-repeat="name in names"
                   ng-click="toggleFavorite(name)"
                   ng-class="{active: name.isFavorite}">
                    <span>{{name.value}}</span>
                    <span class="pull-right">
                        <i class="fa fa-globe"
                           title="{{name.availability.dns ? 'Domaine .com dispo.' : 'Domaine .com non dispo.'}}"
                           ng-class="{muted: !name.availability.twitter}"></i>
                        <i class="fa fa-twitter"
                           title="{{name.availability.twitter ? 'Twitter name dispo.' : 'Twitter name non dispo.'}}"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-md-4 slide-panel" ng-show="favorites.length">

            <div ng-switch on="favorites.length >= 5">
                <h5 ng-switch-default class="animate-switch">Votre vote <span class="pull-right"><span>{{favorites.length}}</span> / <span>{{maxFavorites}}</span></span>
                </h5>

                <div ng-switch-when="true" class="alert alert-info animate-switch clearfix">
                    <div class="pull-left">Vous pouvez voter!</div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary btn-lg" ng-click="addVote()">Voter</button>
                    </div>
                </div>
            </div>
            <div class="favorite-list list-group" ui-sortable="sortableOptions" ng-model="favorites">
                <a href="#" class="list-group-item clearfix" ng-repeat="name in favorites">
                    <span>{{name.value}}</span>
            <span class="pull-right item-actions">
                <span class="item-points label label-info">{{getPoints($index)}} pts</span>
                <i class="fa fa-reorder"></i>
            </span>
                </a>
            </div>
            <div class="well">
                <i class="fa fa-info-circle fa-lg"></i> Changez les <span
                    class="label label-info">points attribués</span> en réordonnant votre sélection
            </div>
        </div>
    </div>
</div>
