<div class="row animate-fade" data-ng-show="!userVote.isEmpty()">
    <div class="col-md-6">
        <div class="list-group vote-results">
            <div class="list-group-item" data-ng-repeat="item in userVote.voteItems">
                <div class="list-group-item-heading">
                    <div class="item-rank">#{{$index + 1}}</div>
                    <div class="item-value">{{item.value}}</div>
                </div>

                <div class="list-group-item-footer">
                    <div class="item-points">
                        {{item.points}} points
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="alert">Enregistré <strong>{{getMoment(userVote.date)}}</strong></div>
        <div class="btn-toolbar">
            <button type="button" class="btn btn-lg btn-danger" data-ng-click="deleteVote()">Supprimer mon vote</button>
        </div>

    </div>
</div>
<div class="row animate-fade" data-ng-show="userVote.isEmpty()">
    <div class="col-md-6">
        <div class="list-group">
            <a href="" class="list-group-item clearfix" ng-repeat="item in vote.items"
               ng-click="toggleSelection(item)"
               ng-class="{active: selection.contains(item)}">
                <span>{{item.value}}</span>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div data-ng-show="!selection.length">
            <div class="callout callout-info">
                <h4>Choix des noms</h4>
                <p><strong>Sélectionnez {{selection.limit}} noms</strong> qui vous plaisent.</p>
            </div>
        </div>
        <div data-ng-show="selection.length">
            <div class="favorite-list list-group" ui-sortable="sortableOptions" ng-model="selection">
                <div class="list-group-item animate-repeat-stack clearfix" ng-repeat="item in selection">
                    <i class="fa fa-reorder"></i>
                    <span>{{item.value}}</span>
                        <span class="pull-right item-actions">
                            <span class="item-points label label-info">{{getPoints($index)}} pts</span>
                        </span>
                </div>
            </div>
            <div data-ng-show="selection.isFull()" class="animate-fade">
                <div class="callout callout-info">
                    <h4>Changez les points</h4>
                    <p>Glissez/déplacez les éléments de votre votre pour changer les points attribués</p>
                </div>
                <button type="button" class="btn btn-lg btn-success" data-ng-click="saveVote()">Enregistrer mon vote</button>
            </div>
        </div>
    </div>
</div>
