<section data-ng-controller="VoteSortingController">
    <div class="callout callout-info">
        <h4>Attribution des points</h4>
        <p><strong>Cliquez/déplacez</strong> pour changer l'ordre et les points attribués, puis passez à l'étape suivante.</p>
    </div>
    <div class="favorite-list list-group" ui-sortable="sortableOptions" ng-model="favorites">
        <a href="#" class="list-group-item clearfix" ng-repeat="name in favorites">
            <i class="fa fa-reorder"></i>
            <span>{{name.value}}</span>
            <span class="pull-right item-actions">
                <span class="item-points label label-info">{{getPoints($index)}} pts</span>
            </span>
        </a>
    </div>
    <div class="step-actions panel-footer clearfix">
        <div class="pull-left"><a class="btn btn-primary btn-direction btn-left" ui-sref="app.vote.create.step1">Précedent</a></div>
        <div class="pull-right"><a class="btn btn-primary btn-direction btn-right" ui-sref="app.vote.create.step3">Suivant</a></div>
    </div>
</section>
