<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="wizard">
                <ul class="steps">
                    <ol class="step" data-desc="A propos" ui-sref-active="active" ui-sref="vote.create.step0"><span class="number">1</span></ol>
                    <ol class="step" data-desc="Choix des noms" ui-sref-active="active" ui-sref="vote.create.step1"><span class="number">2</span></ol>
                    <ol class="step" data-desc="Attribution points" ui-sref-active="active" ui-sref="vote.create.step2"><span class="number">3</span></ol>
                    <ol class="step" data-desc="Revue et vote" ui-sref-active="active" ui-sref="vote.create.step3"><span class="number">4</span></ol>
                </ul>


                <div ui-view autoscroll='false' class="content clearfix animate-slide"></div>
            </div>
        </div>
    </div>
</div>
