<section>
    <div class="callout callout-info">
        <h4>Revue et vote</h4>
        <p>Ce vote vous convient ? Cliquez sur "voter!" ou revenez en arrière pour faire des modifications.</p>
    </div>
    <div class="list-group" ng-model="favorites">
        <div class="list-group-item clearfix" ng-repeat="name in favorites">
            <span class="item-name">{{name.value}}</span>
                <span class="pull-right item-actions">
                    <span class="item-points label label-default">{{getPoints($index)}} pts</span>
                </span>
        </div>
    </div>
    <div class="text-center" style="margin-bottom: 2em;">

    </div>
    <div class="step-actions panel-footer clearfix">
        <div class="pull-left"><a class="btn btn-primary btn-direction btn-left" ui-sref="app.vote.create.step2">Précedent</a></div>
        <div class="pull-right"><a class="btn btn-success" data-ng-click="vote()">Voter!</a></div>
    </div>
</section>
