<section data-ng-controller="VoteSelectionController">
    <div class="callout callout-info">
        <h4>Choix des noms</h4>
        <p><strong>Sélectionnez {{maxItems}} noms</strong> qui vous plaisent pour passez à l'étape suivante.</p>
    </div>

    <div class="list-fluid">
        <a href="" class="list-fluid-item clearfix" ng-repeat="name in names"
           ng-click="toggleFavorite(name)"
           ng-class="{active: name.isFavorite}">
            <span>{{name.value}}</span>
        </a>
    </div>

    <div class="panel-footer step-actions clearfix">
        <div class="pull-left"><a class="btn btn-primary btn-direction btn-left" ui-sref="app.vote.create.step0">Précedent</a></div>
        <div class="pull-right"><a class="btn btn-primary btn-direction btn-right" ui-sref="app.vote.create.step2" data-ng-disabled="!isStepCompleted()">Suivant</a></div>
    </div>
</section>