<div class="callout callout-info">
    <h4>Vote enregistré</h4>
    <p>Ceci est le vote que vous avez enregistré. Vous pouvez le supprimer pour en enregistrer un nouveau.</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">

            <div class="list-group vote-results">
                <div class="list-group-item" data-ng-repeat="item in userVote.voteItems">

                    <div class="list-group-item-heading">
                        <div class="item-rank">#{{$index + 1}}</div>
                        <div class="item-value">{{item.value}}</div>
                    </div>

                    <div class="list-group-item-footer">
                        <div class="item-points">
                            {{item.points}} points
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="btn-group">
                        <a class="btn btn-danger" data-ng-click="deleteVote()">Effacer mon vote</a>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">Vote enregistré {{getMoment()}}</div>
                </div>
            </div>

        </div>
    </div>
</div>

