<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavController">
        <li ui-sref-active="active"><a ui-sref="app.home" title="Home"><i class="fa fa-home"></i> <span>Home</span></a></li>
        <li ui-sref-active="active"><a ui-sref="concept" title="Concept"><i class="fa fa-lightbulb-o"></i> <span>Concept</span></a></li>
        <li ui-sref-active="active"><a ui-sref="vote" title="Vote"><i class="fa fa-heart"></i> <span>Vote</span></a></li>
        <li ui-sref-active="active"><a ui-sref="results" title="Résultats"><i class="fa fa-line-chart"></i><span>Résultats</span></a></li>
    </ul>
</div>